{% extends 'main.html' %}
{% load static %}

{% block content %}
{% include 'header.html' %}

<div class="home-content">

    <div class="ad-image-container">
        <img src="{% static 'images/grabit-a.png' %}" alt="GRABiT">
    </div>

    <div class="header-static">
        <div class="header-left-static">Welcome to GRABiT</div>
        <div class="header-right-static">
            <div>
                Fast & Secure Checkout
            </div>
            <div class="divider"></div>
            <div>
                Hot Deals
            </div>
        </div>
    </div>

    <div class="home-ad-container">
        <div class="home-left-categories">
            <ul>
                {% for category in category %}
                <li>{{category.c_name}}<span class="arrow">›</span></li>
                {% endfor %}
            </ul>
        </div>

        <div class="home-right-card" id="slider">
            <button class="explore-btn">Explore</button>
            <img src="{% static 'images/grabit-ad-1.png' %}" class="active" alt="Ad 1">
            <img src="{% static 'images/grabit-ad-2.png' %}" alt="Ad 2">
            <img src="{% static 'images/grabit-ad-3.png' %}" alt="Ad 3">
            <img src="{% static 'images/grabit-ad-4.png' %}" alt="Ad 4">
        </div>
    </div>

    {% include 'main/home-deals.html' %}
</div>

<br><br><br><br><br>

<script>
    const slides = document.querySelectorAll('#slider img');
    let index = 0;

    setInterval(() => {
        slides[index].classList.remove('active');
        index = (index + 1) % slides.length;
        slides[index].classList.add('active');
    }, 3000);
</script>

{% endblock %}