{% extends 'main.html' %}
{% load static %}

{% block content %}
<div class="form-container">
    <div class="form-image-side">
        <img src="{% static 'images/login-img.png' %}"
            alt="Login Illustration">
    </div>
    <div class="form-side">
        <h1>Sign In</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <label>Email address</label>
            <input type="email" placeholder="Enter your email" name="email" required>

            <label>Password</label>
           <div class="password-container">
                <input type="password" id="password" placeholder="Confirm your password" name="password" required>
                <span class="toggle-password2" onclick="togglePassword()">
                    <i class="fa-regular fa-eye"></i>
                </span>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="link-text">Don't have an Account? <a href="{% url 'register' %}">Create an Account</a></p>
    </div>
</div>

<script>
    function togglePassword() {
        const passwordInput = document.getElementById("password");
        const icon = document.querySelector(".toggle-password i");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        }
    }
</script>

{% endblock %}